.form-wrapper{
	position: fixed;
	height: 100vh;
	width: 100vw;
	top: 0;
	z-index: 10;
	display: flex;
	justify-content: center;
	align-items: center;
	background: rgba(0,0,0,0.9);
	display: none;
}

.add-book {
	display: flex;
	position: relative;
	flex-direction: column;
	gap: 0.5rem;
	width: clamp(200px, 80%, 400px);
	color: white;
	padding: 2rem;
	border: 2px solid white;
	border-radius: 20px;
}

.add-book .close {
	position: absolute;
	right: -10px;
	top: -10px;
	border-radius: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	border: none;
	cursor: pointer;
}

.close span {
	transform: translateX(-0.1px);
	font-variation-settings: 'FILL' 1;
}

.add-book .close:hover {
	background: #D10000 ; /*#AF0000;*/
}

.add-book .close:active {
	transform: translateY(-1px);
}

.add-book label {
	font-size: 1rem;
	justify-self: start;
	
}

.add-book [type='text'], 
.add-book [type='number'] {
	padding: 0.25rem 0.25rem;
	width: 100%;
}

.add-book .error::after {
	content: '*Current Page should not be more than total pages';
	color: red;
	font-size: 0.7rem;
}


.add-book #add-book-btn {
	padding: 0.25rem 2rem;
	margin-top: 1rem;
	align-self: center;
	border-radius: 20px;
	cursor: pointer;
}
